body {
    font-family: sans-serif;
    background-color: gray;
}

#log {
    border: 1px solid;
    height: 30vh;
    width: 30vw;
    margin: 20vh auto;
    background-color: blue;
    color: white;
    border: 3px solid black;
    border-radius: 10px;
}

.input {
    width: max-content;
    margin: 5vh auto;
    font-size: 18px;

}

p {
    display: inline;
    margin-right: 6px;
}

input[type="text"] {
    font-family: sans-serif;
    height: 20px;
    font-size: 15px;
}

input[type="submit"] {
    display: flex;
    width: 100px;
    height: 35px;
}

#gamebody {
    background-color: lightgrey;
}

#turn {
    margin: solid 1px;
}

#playerturn {
    text-align: center;
    height: 5vh;
    margin-top: 5vh;
    text-shadow: 1px 0 #000, -1px 0 #000, 0 1px #000, 0 -1px #000,
    1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

#gametab {
    height: 540px;
    width: 630px;
    background-color: blue;
    border: 3px solid navy;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.box {
    height: 78px;
    width: 78px;
    background-color: white;
    border-radius: 50%;
    border: 2px black solid;
    margin: 4px;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.highlight {
    background-color: lightgray;
    border: 2px solid dodgerblue;
}

.winner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 20px;
    width: max-content;
    border: solid 2px black;
    border-radius: 6px;
    background-color: whitesmoke;
    animation: color-change 4s ease-in-out infinite;
}

@keyframes color-change {
    0% { color: red; }
    20% { color: blue; }
    40% { color: yellow; }
    60% { color: magenta; }
    80% { color: rgb(36, 201, 36); }
    100% { color: red; }
}

.nowinner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 20px;
    width: max-content;
    border: solid 2px black;
    border-radius: 6px;
    background-color: whitesmoke;
    animation: color-decrease 1s ease-in-out infinite;
}

@keyframes color-decrease {
    0%, 100% { color: red; }
    50% { color: black; }
}

#info {
    border: 1px solid;
    margin: 30px auto;
    width: 640px;
    height: 30px;
    display: flex;
}

#infored, #infoyellow {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 5px;
}

#infored {
    background-color: red;
    color: white;
}

#infoyellow {
    background-color: yellow;
}

.infop {
    font-size: 16px;
    text-align: center;
    margin: 0;
    font-weight: 600;
}